html, body {
    /* height: 100%; */
    /* margin: 0;
    padding: 0; */
    background-color: #E4E8F0;
  }
.parent1{
    background-color: #E4E8F0;
    padding: 5px 5px 5px 5px;
    height: 100vh; 
    overflow: hidden;
    box-sizing: border-box; 
}
#parent-container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: white; 
    height: 100vh;
    overflow: hidden;
    /* /* border-radius: 10px; */
    margin: 10px;
    margin-top: 20px;
    padding:40px;
    min-height: 95vh;
    max-height: 95vh; 
}
.parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; 
 border-radius: 10px;
  margin: 10px;
  margin-top: 20px;
  padding:40px;
  min-height: 95vh;
  max-height: 95vh; 
}
.child-container{
    background-color: white; 
    /* height:auto;
    width: 100%; */
    
}

input[type=file]::-webkit-file-upload-button {
    width: 0;
    padding: 0;
    -webkit-appearance: none;
    border: none;
    border:0px;
}
.file-button{
    display: block;
    background-color: #0A2F73;
    color:white;
    height:100%;
    border-radius: 5px;
    padding-top: 6px;
    padding-left: 3px;
    padding-right: 3px;
}
.wrapper{
padding:20px;
} 

.helping-text{
margin-left: 5px;
}
.child-container2{
    margin-top: -100px;
    min-height: 50vh;
    width: 50%;
    
}
.no-pointer-events:active {
    pointer-events: none;
  }

  @media screen and (max-width: 768px) {
    .parent-container {
      padding: 20px; /* Adjust padding for smaller screens */
    }
    .child-container {
      width: 100%; /* Take up full width on smaller screens */
    }
  }
  
  /* CSS for Tablets */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .parent-container {
      padding: 40px; /* Adjust padding for tablet screens */
    }
    .child-container {
      width: 80%; /* Use a percentage for the container width */
    }
  }
  
  /* CSS for Larger Screens */
  @media screen and (min-width: 1025px) {
    .parent-container {
      padding: 60px; /* Adjust padding for larger screens */
    }
    .child-container {
      width: 60%; /* Use a percentage for the container width */
    }
  }
  